*{
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
html{
	background-image: url('https://wallpaperscraft.com/image/landscape_winter_snow_trees_mountains_forest_sky_clouds_97311_2560x1440.jpg');
	background-size: 100%;
}
body{
	background-color: #fff;
	border: 1px solid #f1f1f1;
	border-radius: 12px;
	width: 600px;
	margin-left: 140px;
	margin-top: 140px;
}
#tap{
	background-color: #f1f1f1;
	/* color: #FF5F4F;
	color: #F9C206;
	color: #19CC32; */
	height: 30px;
	padding-left: 7px;
	border-radius: 8px 8px 0 0;
}
#tap .btn{
	width: 13px;
	height: 13px;
	display: inline-block;
	border: 1px solid #000;
	border-radius: 50%;
	margin: 8px 5px 0 0;
	transition-duration: 0.4s;
}
#tap .btn:hover{
	background-color: #fff;
}
#tap .one{
	background-color: #ff5f4f;
	border-color: #ff5f4f
}
#tap .two{
	background-color: #f9c206;
	border-color: #f9c206;
}
#tap .three{
	background-color: #19cc32;
	border-color: #19cc32;
}
#screen{
	margin: 10px;
}
#primitive{
	width: 20%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #000;
}
main p input{
	background-color: #f44336 ;
	border: none;
	color: #fff;
	padding: 8px;
	margin: 10px;
	margin-top: 5px;
	text-align: center;
	width: 80px;
	border-radius: 12px;
}
aside input{
	background-color: #555;
	color: #fff;
	padding: 8px;
	margin: 5px;
	border: 2px solid #fff;
	border-radius: 8px;
	transition-duration: 0.4s;
}
aside input:hover{
	background-color: #fff;
	color: #555;
	border-color: #555;
}
#tip{
	margin: 8px;
	padding: 5px;
	width: 440px;
	border: 1px dashed #000;
}
#tip ul li{
	list-style-type: lower-alpha;
}
footer{
	margin: 5px;
}